/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap');


:root{
	--hue-color: 190;
	--first-color-second: hsl(var(--hue-color), 64%, 22%);
	--first-color-alt: #024d09;
	--title-color: hsl(var(--hue-color), 64%, 18%);
	--text-color: hsl(var(--hue-color), 24%, 35%);
	--text-color-light: hsl(var(--hue-color), 8%, 60%);
	--body-color: hsl(var(--hue-color), 100%, 99%);
	--body-font: 'Noto Sans KR', sans-serif;
	--title-font: "Raleway", sans-serif;
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
}

@media screen and (min-width: 968px){
	:root {
	    --biggest-font-size: 4rem;
	    --h1-font-size: 2.25rem;
	    --h2-font-size: 1.75rem;
	    --h3-font-size: 1.25rem;
	    --normal-font-size: 1rem;
	    --small-font-size: 0.875rem;
	    --smaller-font-size: 0.813rem;
	}
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.footer__container {
    position: relative;
    top: -75px;
    row-gap: 5rem;
/*    	background-color: white; */
   	padding-top: 25px;
   	
   	
}

.grid {
    display: grid;
    gap: 1.5rem;
}


.footer {
    border-top: 2px solid #dedede;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    padding: 97px 0;
}
.footer__copy, .footer__terms-link {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.footer__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer__terms {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}


.footer__terms-link {
	display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.footer__rights {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}

.footer__link {
    color: var(--text-color);
}

.footer__item {
    margin-bottom: var(--mb-0-75);
}

@media screen and (min-width: 768px){

	.footer__rights {
    flex-direction: column;
    justify-content: center;
	}
}

@media screen and (min-width: 1200px){
	.container {
	    max-width: 1080px;
	}
}

@media screen and (min-width: 1024px){
	.container {
	    margin-left: auto;
	    margin-right: auto;
	}
	
	.footer__content {
    justify-items: center;
	}
}