@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

@media screen {

body { 
	margin: 208px auto;
	padding: 0px;
	font-family: Jua;
	text-align: center;
	background-image: url('../img/introduction/introbackground2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.intro_all {
	width: 1000;
	margin-left:10%;
	margin-right:10%;
}
.ititle h1 {
	padding: 50px;
	color: #fff;
	font-size: 4.5em;
	text-shadow:2px 2px 2px #000;
	padding-bottom: 50px;
}
.isummary h2 {
	color: #6868ff;
	text-align: center;
	font-size: 2.5em;
	padding-bottom: 50px;
}

.icontent {
	margin-left: 30%;
	width:60%;
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 	grid-gap: 1em;
  	height: 100%;
	overflow: hidden;
}

.icontent .ibox {
	margin-left:10%;
	width: 250px;
	height: 250px;
	background-color: #fff;
	border-radius: 20px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 20px #80cdfb;
	filter:alpha(opacity=90); opacity:0.9; -moz-opacity:0.9;
}
.icontent .ibox h3 {
	margin: 30px 30px 30px 30px;
	font-size: 23px;
	background: no-repeat right;
}

.icontent .ibox p {
	font-family: sans-serif;
	font-weight: bold;
	margin: 0 30px;
	font-size: 18px;
	color: #333;
	text-align: left;
	letter-spacing: -2px;
}
.iimage img {
	margin-top: 70px;
	width: 300px;
	height: 200px;
}
.bbox {
	margin-bottom:150px;
	margin-left: 20%;
	width: 60%;
	height: 300px;
	overflow:hidden;
	border-style: outset;
	text-align: center;
	border-radius: 20px;
	box-shadow: inset 0px 0px 20px #a9eef3;
	background-color: #fff;
	filter:alpha(opacity=80); opacity:0.8; -moz-opacity:0.8;
}
.bbox .bsummary h2{
	color: #008080;
	text-align: center;
	font-size: 2em;
	padding-bottom: 50px;
}
.bbox .blist{
	font-family:fantasy;
	font-weight:bold;
	overflow:hidden;
	font-size: 20px;
	margin-bottom: 10px;
}
}