@charset "UTF-8";

/* reset */
*{margin: 0; padding: 0;font-family: var(--body-font);font-size: var(--normal-font-size);}
li{list-style-type: none; }
a{text-decoration: none;}
.clearfix{content: ''; display: block; clear: both;}

/* common */
body{
    width: 100%;
    height: 1000px;
    background: rgb(255, 255, 255);
  	
}

/* 리스트 */
#listWrap{
	position: absolute ;
    top: 150px;
    left: 0px;
    float: left;
    width: 100%;
    height: 1000px;
}
#list{
    width: 35%;
    height: 1000px;
}
.topBotton{
	width: 100%;
    height: 70px;
}
.listbutton{
	width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    background: #FAA631;
    color: rgb(255, 255, 255);
    font-size: 22px;
    border-style: none;
}
.listbutton:hover{
	background:#024d09;
}
.listbutton:active{
	background:#024d09;
	color: black;
}
.planbutton{
	position: relative ;
    top: -70px;
    left: 50%;
	width: 50%;
    height: 70px;
    text-align: center;
    background: rgb(242, 242, 242);
    font-size: 22px;
    border-style: none;
}
.planbutton:hover{
	background:#024d09;
	color: rgb(255, 255, 255);
}
.planbutton:active{
	background:#024d09;
	color: black;
}
/* 리스트 내용 */
.listContentWrap{
	position: relative ;
    top: 0px;
    left: 0px;
    float: left;
    width: 100%;
    height: 930px;
    background: #EDEDED;
    overflow:scroll;
    overflow-x:hidden;
    color:black;
    
}
.listContent{
    position: relative;
    top: 140px;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 580px;
    height: 200px;
    background: rgb(255, 255, 255);
    float: left;
    border-radius: 5px;
    overflow:hidden;
}
.listImg{
	/* 대표 이미지 : (약 500*333 size) */
	/* 썸네일 이미지 : (약 150*100 size) */
    width: 250px;
    height: 200px;
}
.listContent>h1{
	position: relative;
	top: -185px;
    left: 280px;
    font-size: 28px;
    width: 250px;
    height: 28px;
}
.listContent>ul{
	position: relative;
	top: -165px;
    left: 280px;
    width: 400px;
    height: 50px;
}
.listContent>ul>li{
    font-size: 17px;
}
.listContent>ul>li:nth-child(1){
    font-weight: bold;
    padding-bottom:5px;
}
.listSubInfoWrap{
	position: relative;
	top: -35px;
    left: 275px;
    width: 280px;
    height: 30px;
}
.listSubInfo{
	position: relative;
	top: -90px;
    left: 0px;
	float: left;
	width: 70px;
    height: 25px;
    text-align: center;
}
.listSubInfoImg{
    width: 25px;
    height: 25px;
}
.listSubInfo>span{
	position: relative;
	top: -5px;
    left: 0px;
	width: 100px;
    height: 25px;
    line-height: 25px;
}

/* 지도 */
.map_wrap {
	position: absolute ;
    top: 0px;
    left:35%;
    overflow:hidden;
    width: 65%;
    height: 1000px;
}
/* custom_typecontrol와 .custom_zoomcontrol 차이 40 */
.custom_typecontrol {position:absolute;top:100px;right:40px;width:200px;height:50px;margin:0;padding:0;z-index:1;font-size:15px;line-height: 50px;}
.custom_typecontrol span {width:100px;height:50px;float:left;text-align:center;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;}       
.custom_typecontrol .btn:hover {background:#024d09;color:#fff;}
.custom_typecontrol .btn:active {background:#f5f5f5;}    
.custom_typecontrol .selected_btn {color:#fff;background:#FAA631;}
.custom_typecontrol .selected_btn:hover {color:#f5f5f5;}   
.custom_zoomcontrol {position:absolute;top:175px;right:40px;width:50px;height:100px;overflow:hidden;z-index:1;background-color:#fff;} 
.custom_zoomcontrol span {display:block;width:50px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {position:relative;top:15px;width:20px;height:20px;}             
.custom_zoomcontrol span:first-child{height:50px; border-bottom:1px solid #bfbfbf;}    

/* 지도 커스텀 오버레이 */
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;}
/* 플래너 추가 */
.planCreate>a{
    position: fixed;
    top: 840px;
    left: 560px;
    background: #FAA632;
    width: 200px;
    height: 70px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 70px;
}

.planCreate>a{
    position: fixed;
    top: 840px;
    left: 420px;
    background: #FAA632;
    width: 200px;
    height: 70px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 70px;
    border-radius: 5px;
}
.planCreate>a:hover {background:#024d09;}
.planCreate>a:active {background:#EDEDED;}    

