@charset "UTF-8";

/* reset */
*{margin: 0; padding: 0;}
li{list-style-type: none; }
a{text-decoration: none;}
.clearfix{content: ''; display: block; clear: both;}

/* common */
body{
    width: 100%;
    height: 1000px;
    background: rgb(255, 255, 255);
}

/* 리스트 */
#listWrap{
    float: left;
    width: 100%;
    height: 1000px;
}
#list{
	position: absolute ;
    top: 0px;
    left: 0px;
    width: 42%;
    height: 1000px;
    background: rgb(176, 176, 176);
}
.topBotton{
	
}
.listbutton{
	width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background: #FAA631;
    color: rgb(255, 255, 255);
    font-size: 22px;
}
.listbutton:hover{
	background:#EDEDED;
	color: black;
}
.listbutton:active{
	background:#f5f5f5;
	color: black;
}
.planbutton{
	position: absolute;
    left: 50%;
    top: 0;
	width: 50%;
    height: 100px;
    text-align: center;
    background: rgb(255, 255, 255);
    
    font-size: 22px;
}
.planbutton:hover{
	background:#EDEDED;
}
.planbutton:active{
	background:#f5f5f5;  
}
/* 리스트 내용 */
.listContent{
    float: left;
    width: 100%;
    height: 100%;
    background: #EDEDED;
    overflow:scroll;
    overflow-x:hidden;
    color:black;
}
.listContentWrap{
    position: relative;
    top: 145px;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 715px;
    height: 200px;
    background: rgb(255, 255, 255);
    float: left;
}
.listImg{
	/* 대표 이미지 : (약 500*333 size) */
	/* 썸네일 이미지 : (약 150*100 size) */
    width: 250px;
    height: 200px;
}
.listContentWrap>h1{
	position: relative;
	top: -185px;
    left: 280px;
    font-size: 28px;
    width: 250px;
    height: 28px;
}
.listContentWrap>ul{
	position: relative;
	top: -165px;
    left: 280px;
    width: 400px;
    height: 50px;
}
.listContentWrap>ul>li{
    font-size: 17px;
}
.listContentWrap>ul>li:nth-child(1){
    font-weight: bold;
    padding-bottom:5px;
}
.listSubInfoWrap{
	position: relative;
	top: -35px;
    left: 275px;
    width: 280px;
    height: 30px;
}
.listSubInfo{
	position: relative;
	top: -90px;
    left: 0px;
	float: left;
	width: 70px;
    height: 25px;
    text-align: center;
}
.listSubInfoImg{
    width: 25px;
    height: 25px;
}
.listSubInfo>span{
	position: relative;
	top: -5px;
    left: 0px;
	width: 100px;
    height: 25px;
    line-height: 25px;
}

/* 지도 */
.map_wrap {
	position: absolute ;
    top: 0px;
    left: 42%;
    overflow:hidden;
    width: 58%;
    height: 1000px;
    box-sizing:contentbox !important;
}
/* custom_typecontrol와 .custom_zoomcontrol 차이 40 */
.custom_typecontrol {position:absolute;top:100px;right:40px;width:200px;height:50px;margin:0;padding:0;z-index:1;font-size:15px;line-height: 50px;}
.custom_typecontrol span {width:100px;height:50px;float:left;text-align:center;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;}       
.custom_typecontrol .btn:hover {background:#EDEDED;}
.custom_typecontrol .btn:active {background:#f5f5f5;}    
.custom_typecontrol .selected_btn {color:#fff;background:#FAA631;}
.custom_typecontrol .selected_btn:hover {color:#f5f5f5;}   
.custom_zoomcontrol {position:absolute;top:175px;right:40px;width:50px;height:100px;overflow:hidden;z-index:1;background-color:#fff;} 
.custom_zoomcontrol span {display:block;width:50px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {position:relative;top:15px;width:20px;height:20px;}             
.custom_zoomcontrol span:first-child{height:50px; border-bottom:1px solid #bfbfbf;}    

/* 플래너 추가 */
.planCreate>a{
    position: fixed;
    top: 810px;
    left: 560px;
    background: #FAA632;
    width: 200px;
    height: 70px;
    border-radius: 35px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: right;
}
.planCreate>a>img{
    position: absolute;
    top: 50%;
    left: 15px;
    width: 35px;
    height: 35px;
    transform: translateY( -50% );
}
