@charset "UTF-8";

/* reset */
*{margin: 0; padding: 0;}
li{list-style-type: none; }
a{text-decoration: none;}
.clearfix{content: ''; display: block; clear: both;}

/* common */
body{
    width: 100%;
    height: 1000px;
    background: rgb(255, 255, 255);
}

/* 리스트 */
#listWrap{
    float: left;
    width: 100%;
    height: 1000px;
}
#list{
	position: absolute ;
    top: 0px;
    left: 0px;
    width: 42%;
    height: 1000px;
    background: rgb(176, 176, 176);
}
.topBotton{
	position: absolute ;
    top: 0px;
    width: 100%;
    height: 100px;
    float: left;
    background: rgb(161, 118, 118);
    font-size: 25px;
}
.topBotton>a:nth-child(1){
	width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background: #FAA632;
    cursor:pointer;
}
.topBotton>a:nth-child(2){
	width: 50%;
    height: 100%;
    position: relative;
    left: 50%;
    top: -100px;
    text-align: center;
    line-height: 100px;
    background: #CECECE;
}
/*
.topBotton{
	position: absolute ;
    top: 0px;
    width: 100%;
    height: 100px;
    float: left;
    background: rgb(161, 118, 118);
    font-size: 25px;
}
.topBottonList{
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background: #FAA632;
}
.topBottonList a:link, .topBottonList a:visited {
    color: #ffffff;
    font-weight: bold;
}
.topBottonPlenner{
    width: 50%;
    height: 100%;
    position: relative;
    left: 50%;
    top: -100px;
    text-align: center;
    line-height: 100px;
    background: #CECECE;
}
.topBottonPlenner a:link, .topBottonPlenner a:visited {
    color: #ffffff;  
}
*/
/* 리스트 내용 */
.listContent{
    float: left;
    width: 100%;
    height: 100%;
    background: #EDEDED;
    overflow:scroll;
    overflow-x:hidden;
    color:black;
}
.listContentWrap{
    position: relative;
    top: 240px;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 715px;
    height: 200px;
    background: rgb(255, 255, 255);
    float: left;
}
.listImg{
	/* 대표 이미지 : (약 500*333 size) */
	/* 썸네일 이미지 : (약 150*100 size) */
    width: 250px;
    height: 200px;
}
.listContentWrap>h1{
	position: relative;
	top: -185px;
    left: 280px;
    font-size: 28px;
    width: 250px;
    height: 28px;
}
.listContentWrap>ul{
	position: relative;
	top: -165px;
    left: 280px;
    width: 400px;
    height: 50px;
}
.listContentWrap>ul>li{
    font-size: 17px;
}
.listContentWrap>ul>li:nth-child(1){
    font-weight: bold;
    padding-bottom:5px;
}
.listSubInfoWrap{
	position: relative;
	top: -35px;
    left: 275px;
    width: 280px;
    height: 30px;
    
}
.listSubInfo{
	position: relative;
	top: -90px;
    left: 0px;
	float: left;
	width: 70px;
    height: 25px;
    /* background: rgb(161, 118, 118); */
    text-align: center;
}
.listSubInfoImg{
    width: 25px;
    height: 25px;
}
.listSubInfo>span{
	position: relative;
	top: -5px;
    left: 0px;
	width: 100px;
    height: 25px;
    /* background: rgb(176, 176, 176); */
    line-height: 25px;
   
}

/* 지도 */
.map_wrap {
	position: absolute ;
    top: 0px;
    left: 42%;
    overflow:hidden;
    width: 58%;
    height: 1000px;
    box-sizing:contentbox !important;
}
/* custom_typecontrol와 .custom_zoomcontrol 차이 40 */
.radius_border{border:1px solid #919191;border-radius:5px; }     
.custom_typecontrol {position:absolute;top:100px;right:40px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}   
.custom_zoomcontrol {position:absolute;top:140px;right:40px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;} 
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}             
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}    

/* 플래너 추가 */
/*.planCreate{
    position: fixed;
    top: 810px;
    left: 560px;
    background: #FAA632;
    width: 200px;
    height: 70px;
    border-radius: 35px;
}
.planCreate>img{
    position: absolute;
    top: 50%;
    left: 10px;
    width: 45px;
    height: 45px;
    transform: translateY( -50% );
}*/
.planCreate>a{
    position: fixed;
    top: 835px;
    left: 560px;
    background: #FAA632;
    width: 200px;
    height: 70px;
    font-size: 23px;
    transform: translateY( -50% );
    color: rgb(255, 255, 255);
    border-radius: 35px;
}
.planCreate>a>img{
    position: absolute;
    top: 50%;
    left: 10px;
    width: 45px;
    height: 45px;
    transform: translateY( -50% );
}

/*.planCreate>span{
    position: absolute;
    top: 50%;
    left: 65px;
    font-size: 23px;
    transform: translateY( -50% );
    color: rgb(255, 255, 255);
}*/