@charset "UTF-8";
.mypage-box {
	
	width: 300px;
	margin: 10% 20% 0;
}
.mypage-box h1{
	color:black;
}	
.lnb-box {margin: 10% 0 0;}
.lnb-box:after {
	float:left;
	content: '';
	display: block;
	clear: both;
}
.lnb-box a {
	width: 300px;
	height: 55px;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: rgb(102,102,102);
	text-align: center;
	line-height: 55px;
}
.lnb-box a:nth-child(4){
	width: 300px;
	height: 55px;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: rgb(250, 166, 50);
	text-align: center;
	line-height: 55px;
	border: 2px solid rgb(250, 166, 50);
	
}
.lnb-box a:nth-child(4){
	border-bottom:2px solid rgb(250, 166, 50);
}

.lnb-box a.on,
.lnb-box a:hover {z-index: 5;}
.lnb-box a:after {
	width: 300px;
	height: 55px;
	content: '';
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	border: 1px solid rgb(238,238,238);
	border-bottom: 0px;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
}

.lnb-box a:hover:nth-child(1):after {
	border: 2px solid rgb(250, 166, 50);
	
}
.lnb-box a:hover:nth-child(2):after {
	border: 2px solid rgb(250, 166, 50);
	
}
.lnb-box a:hover:nth-child(3):after {
	border: 2px solid rgb(250, 166, 50);
	
}

.info-box{
	margin: 10% 370px 0;
	width: 690px;
	height: 900px;
	display:block;
	position: relative;
	top: 0;
	left: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 25px;
	border: 1px solid rgb(238,238,238);
	color: rgb(102,102,102);
	text-align: center;
	line-height: 55px;
}
.modify .member__table{
	width: 900px;
	height:300px;
}
.member__table th{
	width: 200px;
	padding: 20px 0;
	text-align: left;
	font-weight: 500;
	font-size: 20px;
	
}
.member__table td{
	padding: 15px 0;
	font-size: 20px;
	
	
}

.member__table .caution{
	margin-top: 0px;
	font-size: 13px;
	color: rgb(153,153,135);
}
.pw-area .caution{
	margin-left: 20px;
	font-size: 20px;
}
.member__table .vt{vertical-align: top;}
.member__table .char{
	margin: 0 5px;
}
.member__table .btn-id{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	text-align: center;
	vertical-align: middle;
	border:  1px solid rgb(34,34,34);
	color: rgb(34,34,34);
	box-sizing: border-box;
}
.username{
	color:rgb(250, 166, 50);
}
#userpassword{
	margin-left:10px;
	width:220px;
	height:25px;
}

#userpassword2{
	width:220px;
	height:25px;
}
.input_style{
	width:220px;
	height:20px;	
}
#grade{
	width:200px;
	height:25px;
}
#button{
  margin: 3px; 	
  width: 100px;
  height: 29px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background: rgb(250, 166, 50);
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Noto Sans KR", sans-serif;
  cursor:pointer;
}
.btn__style2{
  margin: 3px; 	
  width: 120px;
  height: 30px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background: gray;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Noto Sans KR", sans-serif;
  cursor:pointer;
}
