@charset "UTF-8";
.mypage-box {
	
	width: 300px;
	margin: 10% 20% 0;
}
.mypage-box h1{
	color:black;
}
.line1{
	border:1px solid #dedede;
	width:1200px;
	margin-bottom:20px;
}	
.lnb-box {margin: 10% 0 0;}
.lnb-box:after {
	float:left;
	content: '';
	display: block;
	clear: both;
}
.lnb-box a {
	width: 300px;
	height: 55px;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: rgb(102,102,102);
	text-align: center;
	line-height: 55px;
}
.lnb-box a:nth-child(1){
	width: 300px;
	height: 55px;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: rgb(250, 166, 50);
	text-align: center;
	line-height: 55px;
	border: 2px solid rgb(250, 166, 50);
	
}
.lnb-box a:nth-child(4){
	border-bottom:1px solid #dedede;
}

.lnb-box a.on,
.lnb-box a:hover {z-index: 5;}
.lnb-box a:after {
	width: 300px;
	height: 55px;
	content: '';
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	border: 1px solid #dedede;
	border-bottom: 0px;
	box-sizing: border-box;
}

.lnb-box a:hover:nth-child(2):after {
	border: 2px solid rgb(250, 166, 50);
	
}
.lnb-box a:hover:nth-child(3):after {
	border: 2px solid rgb(250, 166, 50);
	
}
.lnb-box a:hover:nth-child(4):after {
	border: 2px solid rgb(250, 166, 50);
	
}


.info-box{
	margin: 0% 750px 0;
	width: 700px;
	height: 900px;
	display:block;
	position: relative;
	top: 0;
	left: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 16px;
	border: 1px solid #dedede;
	color: rgb(102,102,102);
	text-align: center;
	line-height: 55px;
}