@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
.logo{
    position: fixed;
    left: 100px;
    top: 30px;
}
ul li{
   list-style: none;
   text-align: center;
}
#menu {
    position: relative;
    top: 15px;
    left: 400px;
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 50px; 
    margin:0 auto;
}
#menu > ul > li {
    float:left;
    position:relative;
    margin: 50px 100px;
}
#menu > ul > li > a:hover{
    color:black;
}
#menu > ul > li > ul {
    width:160px;
    display:none;
    position: absolute;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    text-align: center;
       background: #ffdaa7;
}
#menu > ul > li:hover > ul {
    display:block;
}
#menu > ul > li > ul > li{
    padding: 10px 10px;
}
#menu > ul > li > ul > li:hover {
    background: #6ac07a;
    transition: ease 0.5s;
}
a{
    text-decoration: none;
    color: rgb(83, 83, 83);
}
#menu > ul > li > ul > li > a:hover{
    color: white;
}