/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: 190;

  /* HSL color mode */
  --first-color: #FAA631;
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: #024d09;
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: #e6ffe6;

  /*========== Font and typography ==========*/
  --body-font: 'Noto Sans KR', sans-serif;
  --title-font: "Raleway", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
  .container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

/*=============== BASE ===============*/

*{
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== HEADER ===============*/

.header {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
}



/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--white-color);
}

.nav__logo {
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
 font-size: 3rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

.logo{
  position: relative;
  top: 0px;
}


 .main__loginSign{
    position: relative;
  	top:-30px;
  } 

  .main__login{
	position: absolute;
    right: -1rem;
    color: gray;
  }

  .main__signup{
    position: relative;
    right: -6rem;
    color: gray;
  }

@media screen and (max-width: 767px) {

  .logo{
    position: relative;
    top: 50px;
  }

  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 5rem;
    transition: 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* dropdouwn menu */
.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  display: none;
}

.nav__item:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #6ac17b;
  color: var(--white-color);
}


/* show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: orange;
}

/* Active link */
.active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  /* 가상요소 before */
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
}
@media screen and (max-width: 340px) {
	
  .logo{
    display: none;
  }
}

@media screen and (min-width: 768px){
	  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 6.5rem);
    margin-left: var(--mb-2-5);
  }

  .nav__link {
    color: #5c5c5c;
    text-transform: initial;
    font-size: 20px;
    font-weight: var(--font-semi-bold);
  }

  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 6rem;
  }

  .nav__close,
  .nav__toggle,
  .change-theme-name {
    display: none;
  }

  .nav__menu > ul {
    font-size: 15px;
    font-weight: var(--font-medium);
    text-align: center;
  }

  .change-theme {
    color: var(--white-color);
  }

  .active-link::before {
    /* 가상요소 before */
    background-color: var(--white-color);
  }

  .scroll-header .nav__link {
    color: var(--text-color);
  }

  .scroll-header .active-link {
    color: var(--title-color);
  }

  .scroll-header .active-link::before {
    background-color: var(--title-color);
  }

  .scroll-header .change-theme {
    color: var(--text-color);
  }	

  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
}

  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1080px;
    }
  }
  
}
	
