<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.bf.dao.CoordinatorDAO">
	<insert id="CoordiInsert">
		insert into coordinator(email, tel, coo_info, link, coo_userid)
		values(#{email}, #{tel}, #{coo_info}, #{link}, #{coo_userid})
	</insert>
	
	<update id="CoordinatorUpdate">
		update coordinator set email=#{email}, tel=#{tel}, coo_info=#{coo_info}
		where coo_userid=#{coo_userid}
	</update>
	<select id="CoordiidCheck" resultType="int">
		select count(coo_userid) cnt from member where coo_userid=#{param1}
	</select>
</mapper>
