<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team.bf.dao.HeartDAO">
  	<insert id="heartInsert">
  		insert into heart(userid, contentid) values(#{param1}, #{param2})
  	</insert>
  	<delete id="heartDelete">
        delete from heart where userid=#{param1} and contentid=#{param2}
    </delete>
    <select id="heartSelectAll" resultType="int">
    	select count(no) from heart where contentid=#{param1}
    </select>
    <select id="heartSelectOne" resultType="int">
    	select count(no) from heart where userid=#{param1} and contentid=#{param2}
    </select>
  </mapper>