<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team.bf.dao.PlannerDAO">
  	<insert id="plannerInsert" useGeneratedKeys="true" keyProperty="no">
  		insert into planner(userid, title, start_date, end_date) 
  		values( #{userid}, #{title}, #{start_date}, #{end_date})
  	</insert>
  	<insert id="plannerLocationInsert">
  		insert into planner_location (planner_no, contentid, seq) 
  		values 
  		<foreach item="item" collection="param1" separator=",">
  			(${param2}, #{item.contentid}, ${item.seq})
  		</foreach>
  		
  	</insert>
  	<select id="plannerSelectByNo" resultType="com.team.bf.vo.PlannerVO">
  		select no, userid, title, start_date, end_date, create_date, edit_date
  		from planner
  		where no=${param1} and userid=#{param2} 
  	</select>
  	<update id="plannerUpdate">
  		update planner set title=#{title}, start_date=#{start_date}, end_date=#{end_date}, edit_date=now()
  		where no=${no} and userid=#{userid}
  	</update>
  	<delete id="plannerLocationDeleteByPlannerNo">
  		delete from planner_location where planner_no=${no}
  	</delete>
  	<delete id="plannerDelete">
  		delete from planner where no=${param1} 
  	<!-- 
  		delete p1, p2 
  		from planner p1 inner join planner_location p2
  		where p1.no=${no} and p1.no=p2.planner_no 
  		
 	-->
  	</delete>
  	<select id="plannerSelectById" resultType="com.team.bf.vo.PlannerVO">
  		select no, userid, title, start_date, end_date, create_date, edit_date
  		from planner
  		where userid=#{param1} or no in (select planner_no from planner_member where userid=#{param1})
  	</select>
  </mapper>