<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team.bf.dao.ReviewDAO">
  	<select id="totalRecord" resultType="int">
  		select count(no) cnt from reply_info
  		<if test='searchWord != null'>
  			where title like '%${searchWord}%' or content like '%${searchWord}%'
  		</if>
  	</select>
  	<insert id="reviewInsert">
  		insert into reply_info(userid, contentid, content, score, ip, contentTypeId, title) 
  		values( #{userid}, #{contentid}, #{content},  ${score}, #{ip}, #{contentTypeId}, #{title})
  	</insert>
  	<select id="reviewSelectByNo" resultType="com.team.bf.vo.ReviewVO">
  		select no, userid , content, contentid ,  score, write_date, contentTypeId, title
  		from reply_info where no=${param1}
  		order by write_date desc
  	</select>
  	<update id="reviewUpdate">
  		update reply_info set content=#{content}, score=${score}, ip=#{ip}
  		where no=${no} and userid=#{userid}
  	</update>
  	<delete id="reviewDelete">
  		delete from reply_info where no=${no} and userid=#{userid}
  	</delete>
  	<select id="reviewSelectById" resultType="com.team.bf.vo.ReviewVO">
  		select no, userid , content,  score, write_date , ip, contentTypeId, title ,contentid
  		from reply_info
  		<choose>
  			<when test='userid != null and searchWord != null'>
  				where title like '%${searchWord}%' or content like '%${searchWord}%' and userid =#{userid}
  			</when>
  			<when test='userid != null'>
  				where userid =#{userid}
  			</when>
  			<when test='searchWord != null'>
  				where title like '%${searchWord}%' or content like '%${searchWord}%'
  			</when>
  		</choose>
  		order by write_date desc
  		limit ${onePageRecord} offset ${offsetIndex}
  	</select>
  	
  	<select id="reviewSelectByContentid" resultType="com.team.bf.vo.ReviewVO">
  		select no, userid , content,  score, write_date , ip, contentTypeId, title, contentid
  		from reply_info where contentid=#{param1}
  		order by write_date desc
  	</select>
  	<select id="reviewSelectAvgScore" resultType="float">
  		select avg(score) from reply_info where contentid=#{param1}
  	</select>
  	
  	<select id="reviewSelectOneByContentid" resultType="com.team.bf.vo.ReviewVO">
  		select no, userid , content,  score, write_date , ip, contentTypeId, title , contentid
  		from reply_info where contentid=#{param1}
  		order by score limit 1
  	</select>
  </mapper>