<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team.bf.dao.ReviewDAO">
  	<insert id="reviewInsert">
  		insert into reply_info(userid, contentid, content, score, ip) 
  		values( #{userid}, #{contentid}, #{content},  ${score}, #{ip})
  	</insert>
  	<select id="reviewSelectByNo" resultType="com.team.bf.vo.ReviewVO">
  		select no, userid , content,  score, write_date
  		from reply_info where no=${param1}
  	</select>
  	<update id="reviewUpdate">
  		update reply_info set content=#{content}, score=${score}, ip=#{ip}
  		where no=${no} and userid=#{userid}
  	</update>
  	<delete id="reviewDelete">
  		delete from reply_info where no=${no} and userid=#{userid}
  	</delete>
  	<select id="reviewSelectById" resultType="com.team.bf.vo.ReviewVO">
  		select no, userid , content,  score, write_date
  		from reply_info where userid=${param1}
  	</select>
  	<select id="reviewSelectByContentid" resultType="com.team.bf.vo.ReviewVO">
  		select no, userid , content,  score, write_date
  		from reply_info where contentid=#{param1}
  	</select>
  	<select id="reviewSelectAvgScore" resultType="float">
  		select avg(score) from reply_info where contentid=#{param1}
  	</select>
  </mapper>