<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.bf.dao.SuggestionDAO">
	<insert id="suggestionInsert">
		insert into suggestion(userid, title, content, ip)
		values(#{userid}, #{title}, #{content}, #{ip})
	</insert>
	<select id="suggestionList" resultType="com.team.bf.vo.SuggestionVO">
		select no, userid, title, date_format(write_date,'%m-%d %H:%i') write_date
		from suggestion 
		<if test="searchWord != null">
		where title like '%${searchWord}%'
		</if>
		order by no desc limit ${onePageRecord} offset ${offsetIndex}
	</select>
	<select id="totalRecord" resultType="int">
		select count(no) cnt from suggestion
		<if test="searchWord != null">
			where title like '%${searchWord}%'
		</if>
	</select>
	<select id="suggestionSelectByNo" resultType="com.team.bf.vo.SuggestionVO">
  		select no, title, userid, content, date_format(write_date,'%y-%m-%d %H:%i') write_date
  		from suggestion where no=${no}
  	</select>
	<select id="suggestionSelect" resultType="com.team.bf.vo.SuggestionVO">
		select no, userid, title, content, write_date
		from suggestion where no=${param1}
		
	</select>
	<update id="suggestionUpdate">
		update suggestion set title=#{title}, content=#{content} where no=${no} and userid=#{userid}
	</update>
	<delete id="suggestionDelete">
		delete from suggestion where userid=#{param1} and no=${param2}
	</delete>
</mapper>